
    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <title>Startup</title>
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css' />

</head>

<body class="cms_index">
	<!-- Header Start -->
	<div id="header">
        <div class="mainnav">
        	<div class="container">
                <!-- Logo Start -->
                <div class="logo col-md-2 col-sm-8 col-xs-8">
                	<a class="text_logo" href="#header">Startup</a>
                </div>
                <!-- Logo End -->

                <!-- Menu Start -->
                <div class="col-md-10 col-sm-4 col-xs-4">
                    <a id="offcanvas_toggler" class="visible-sm visible-xs" href="#"><i class="fa fa-bars"></i></a>
                    <div class="main_navigation">
                        <ul>
                            <li><a class="h_menu" href="#overview">Overview</a></li>
                            <li><a class="h_menu" href="#features">Features</a></li>
                            <li><a class="h_menu" href="#screenshot">Screenshot</a></li>
                            <li><a class="h_menu" href="#whoweare">Who we are</a></li>
                            <li><a class="h_menu" href="#pricing">Pricing</a></li>
                            <li><a class="h_menu" href="#blog">blog</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Menu End -->
            </div>
        </div>

        <div class="container">
            <!-- Header Content Start -->
            <div class="header_content">
            	<h1><span>Startup</span> is Featured Packed &amp; Mobile Friendly</h1>
                <form action="#">
                    <input type="text" name="Email" id="d3_email" value="E-mail Address" onfocus="if(this.value=='E-mail Address') this.value='';" />
                    <button type="submit" class="btn get_started_btn">Get Started</button>
                </form>
            </div>
            <!-- Header Content End -->
        </div>
    </div>
    <!-- Header End -->

    <!-- Content Start -->
	<div class="content_wrapper">
    	<!-- Overview Start -->
        <div id="overview">
        	<div class="container">
                <div class="overview_wrap">
                	<div class="col-md-4 col-sm-4 col-xs-12">
                    	<div class="overview_display_block">
                            <div class="icon_box">
                            	<i class="fa fa-globe"></i>
                            </div>
                            <h3>Anywhere, anytime</h3>
                            <p>On-board new clients in minutes. Auto generate professional engagement letters and send online proposals over a coffee not days later.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                    	<div class="overview_display_block">
                            <div class="icon_box">
                            	<i class="fa fa-comments"></i>
                            </div>
                            <h3>Communicate &amp; collaborate</h3>
                            <p>Centralize your client interactions. Invite clients to share documents and collaborate. Put a stop to repetitive and time consuming phone calls.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                    	<div class="overview_display_block">
                            <div class="icon_box">
                            	<i class="fa fa-rocket"></i>
                            </div>
                            <h3>Scale your practice</h3>
                            <p>Automate your practice management. No more tedious workflow setup for new clients. Manage recurring invoices and payments.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Overview End -->
<hr>
        <div id="features_detail" class="even_div">
        	<div id="main">
                <div id="main-content">
                    <div class="main workflow">
                        <div class="content">
                                <div class="icon">
                                    <h2>Fits within your workflow</h2>
                                    <p>Customize the experience for your users from start to finish—our flexible APIs map to every step in a subscription.</p>
                                </div>
                                <ul id="flow-switcher">
                                    <li class="active"><span>Create<br />plans</span></li>
                                    <li><span>Sign up a<br />customer</span></li>
                                    <li><span>Handle an upgrade</span></li>
                                    <li><span>Add extra<br />seats</span></li>
                                    <li><span>Renew a subscription</span></li>
                                </ul>
                            </div>

                        <div id="flow-boxes">
                            <div class="boxes active">
                                <div class="codebox-container active">
                                    <div class="codebox active">
                                        <pre>
                                            <span class="hljs-keyword">curl</span> <span class="url">https://api.pixxett.com/v1/pricing_plans</span> <span>\</span>
                                            <span>-u</span> <span class="hljs-string">px_HFresv23sdfrtkHDTYKC4567:</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">amount</span><span>=</span><span class="hljs-number">1500</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">interval</span><span>=</span><span class="hljs-string">month</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">id</span><span>=</span><span class="hljs-string">professional</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">currency</span><span>=</span><span class="hljs-string">usd</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">name</span><span>=</span><span class="hljs-string">"professional"</span>
                                        </pre>
                                    </div>

                                    <div class="codebox hiddenRight">
                                        <pre>
                                            <span class="hljs-keyword">curl</span> <span class="url">https://api.pixxett.com/v1/customers</span> <span>\</span>
                                            <span>-u</span> <span class="hljs-string">px_HFresv23sdfrtkHDTYKC4567:</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-string">"description=Customer for demo@yoursite.com"</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">card</span><span>=</span><span class="hljs-string">pixx_IrrKegI23sasdfdfYBHdfryKLK5</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">plan</span><span>=</span><span class="hljs-string">premium</span>
                                        </pre>
                                    </div>

                                    <div class="codebox hiddenRight">
                                        <pre>
                                            <span class="hljs-keyword">curl</span> <span class="url">https://api.pixxett.com/v1/subscriptions/PciTPzBUi4545jX</span> <span>\</span>
                                            <span>-u</span> <span class="hljs-string">px_jnsdiGNCDssk;l6787kmklgf:</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">plan</span><span>=</span><span class="hljs-string">premium</span>
                                        </pre>
                                    </div>

                                    <div class="codebox hiddenRight">
                                        <pre>
                                            <span class="hljs-keyword">curl</span> <span class="url">https://api.pixxett.com/v1/subscriptions/sdfsdfmfbITPzBUijjX</span> <span>\</span>
                                            <span>-u</span> <span class="hljs-string">px_jnsdiGNCDssk;l6787kmklgf:</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">plan</span><span>=</span><span class="hljs-string">premium</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">quantity</span><span>=</span><span class="hljs-number">20</span>
                                        </pre>
                                    </div>
                                </div>

                                <div class="text-container">
                                    <div class="text three-lines active">
                                        <h3>Create different plans</h3>
                                        <p>You can set up an unlimited number of plans either via the API or the Dashboard. <a href="#">Try it out</a>.</p>
                                    </div>
                                    <div class="text four-lines hiddenRight">
                                        <h3>Sign up a customer</h3>
                                        <p>
                                            You can create <code>customer</code> objects to save a user's payment info securely. Once you have plans and customers, you can <a href="#">subscribe</a> them to a plan.
                                        </p>
                                    </div>
                                    <div class="text four-lines hiddenRight">
                                        <h3>Handle an upgrade</h3>
                                        <p>If your users want to switch a plan (or change their billing cycle), Pixxett takes care of figuring out how much they owe, even if it's in the middle of a month.</p>
                                    </div>
                                    <div class="text three-lines hiddenRight">
                                        <h3>Add seats</h3>
                                        <p>If you have plans which need to take the number of users into account, just update the quantity of the plan.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="end" id="automatic-renewals">
                                <div class="text three-lines">
                                    <h3>Pixxett automatically handles renewals</h3>
                                    <p>Once you've added a customer to a plan, Pixxett automatically handles charging your user based on the billing cycle you've set up.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<hr>
        <!-- Feature Start -->
        <div id="features">
        	<!-- Article1 Start -->
            <div id="easysetup">
                <div class="col-md-6 col-sm-12 col-xs-12 half_img_box">
                    <img class="img-responsive" alt="Easy Setup" src="https://www.invisionapp.com/assets/img/home/animations/new/mockup-1.png" />
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 half_txt_box">
                    <h3>Easy to setup, easier to use</h3>
                    <p>We take the pain out of client on-boarding, proposal generation, engagement letters, workflow deployment, recurring invoices and client collaboration.</p>
                    <p>Practice Ignition works best with your existing systems such as Xero and Xero Practice Manager but we don't require them.</p>
                    <p>Increase your conversion rates by connecting Practice Ignition to your website. Perfect for on-boarding new clients into fixed fee plans, your website will become the ultimate sales machine.</p>
                </div>
            </div>
            <!-- Article1 End -->
<hr>
            <!-- Article2 Start -->
            <div id="intelligent">
            	<div class="desk_view">
                    <div class="col-md-6 col-sm-12 col-xs-12 half_txt_box1">
                        <h3>Intelligent proposals</h3>
                        <p>Services form the core of our proposal engine. Services outline the work you're proposing to do for a client, the price and billing details – all of which can be tailored for each client.</p>
                        <p>Workflow templates can be assigned to services meaning the correct jobs are automatically deployed to your practice management system when a client accepts an online proposal.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 half_img_box">
                        <img class="img-responsive" alt="Intelligent proposals" src="https://www.invisionapp.com/assets/img/home/animations/new/mockup-2.png" />
                    </div>
                </div>
            </div>
            <!-- Article2 End -->
<hr>
            <!-- Article3 Start -->
            <div id="engage">
                <div class="col-md-6 col-sm-12 col-xs-12 half_img_box">
                    <img class="img-responsive" alt="Engage &amp; re-engage" src="https://www.invisionapp.com/assets/img/home/animations/new/mockup-3.png" />
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 half_txt_box1">
                    <h3>Engage &amp; re-engage</h3>
                    <p>Practice Ignition is perfect for fixed fee or value based billing or practices that have clients on a retainer.</p>
                    <p>Build proposals with a simple drag and drop. Automatically generate professional engagement letters and notify clients via branded online acceptance pages.</p>
                </div>
            </div>
            <!-- Article3 End -->
        </div>
        <!-- Feature End -->

        <!-- Screenshot Start -->
        <!--<div id="screenshot" class="even_div">
        	<div class="container">
            	<h2>Close View</h2>
                <div class="text">
                	<p>Nullam id maximus metus. Nulla commodo efficitur imperdiet. Morbi tempus nunc et molestie fringilla. Nunc eget lobortis enim. Phasellus aliquam sodales convallis.</p>
                </div>

                <!-- Screenshot Slider Start -->
                 <!--<div class="screenshot_slider_d3_wrapp">
                    <div id="screenshot_slider_d3" class="brand_slider hidden-buttons">
                        <div class="slider-items slider-width-col6">
                            <div class="item">
                                <div class="col-item">
                                    <div class="item-inner">
                                        <div class="product-wrapper">
                                            <div class="thumb-wrapper">
                                                <a class="fancybox-media" href="images/screenshot_d1.png" rel="gallery01">
                                                    <img class="img-responsive" src="images/screenshot_d1.png" alt="Screenshot" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-item">
                                    <div class="item-inner">
                                        <div class="product-wrapper">
                                            <div class="thumb-wrapper">
                                                <a class="fancybox-media" href="images/screenshot_d1.png" rel="gallery01">
                                                    <img class="img-responsive" src="images/screenshot_d1.png" alt="Screenshot" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-item">
                                    <div class="item-inner">
                                        <div class="product-wrapper">
                                            <div class="thumb-wrapper">
                                                <a class="fancybox-media" href="images/screenshot_d1.png" rel="gallery01">
                                                    <img class="img-responsive" src="images/screenshot_d1.png" alt="Screenshot" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-item">
                                    <div class="item-inner">
                                        <div class="product-wrapper">
                                            <div class="thumb-wrapper">
                                                <a class="fancybox-media" href="images/screenshot_d1.png" rel="gallery01">
                                                    <img class="img-responsive" src="images/screenshot_d1.png" alt="Screenshot" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-item">
                                    <div class="item-inner">
                                        <div class="product-wrapper">
                                            <div class="thumb-wrapper">
                                                <a class="fancybox-media" href="images/screenshot_d1.png" rel="gallery01">
                                                    <img class="img-responsive" src="images/screenshot_d1.png" alt="Screenshot" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-item">
                                    <div class="item-inner">
                                        <div class="product-wrapper">
                                            <div class="thumb-wrapper">
                                                <a class="fancybox-media" href="images/screenshot_d1.png" rel="gallery01">
                                                    <img class="img-responsive" src="images/screenshot_d1.png" alt="Screenshot" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
                <!-- Screenshot Slider End -->
            </div>
        </div>
        <!-- Screenshot End -->

        <!-- Who we are Start -->
        <!--<div id="whoweare">
        	<div class="container">
            	<h2>Who we are</h2>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <!-- Team Slider Start -->
                    <!--<div class="team_slider_wrapp">
                    	<h3>Our Team</h3>
                        <div id="team_slider_d2" class="hidden-buttons">
                            <div class="slider-items slider-width-col6">
                                <div class="item">
                                    <div class="col-item">
                                        <div class="item-inner">
                                            <div class="product-wrapper">
                                                <div class="thumb-wrapper">
                                                    <div class="tmember_image">
                                                        <img class="img-responsive" src="images/team.png" alt="Jerry Mack" />
                                                    </div>
                                                    <div class="text_block">
                                                        <h3 class="tmember_name">Laura Martin</h3>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sollicitudin sollicitudin rutrum. Suspendisse quis
                                                        </p>
                                                    </div>
                                                    <ul class="social_links">
                                                    	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-item">
                                        <div class="item-inner">
                                            <div class="product-wrapper">
                                                <div class="thumb-wrapper">
                                                    <div class="tmember_image">
                                                        <img class="img-responsive" src="images/team.png" alt="Anna Shaw" />
                                                    </div>
                                                    <div class="text_block">
                                                        <h3 class="tmember_name">Leon Thompson</h3>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sollicitudin sollicitudin rutrum. Suspendisse quis
                                                        </p>
                                                    </div>
                                                    <ul class="social_links">
                                                    	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-item">
                                        <div class="item-inner">
                                            <div class="product-wrapper">
                                                <div class="thumb-wrapper">
                                                    <div class="tmember_image">
                                                        <img class="img-responsive" src="images/team.png" alt="Leon Thompson" />
                                                    </div>
                                                    <div class="text_block">
                                                        <h3 class="tmember_name">Anna Shaw</h3>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sollicitudin sollicitudin rutrum. Suspendisse quis
                                                        </p>
                                                    </div>
                                                    <ul class="social_links">
                                                    	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Team Slider End -->
                <!--</div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                	<!-- Frequently Ask Start -->
                    <!--<div class="frequently_ask_wrap">
                        <h3>Frequently Asked Questions</h3>
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="head_One">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#ques_one">
                                            Make your App Mockup with Showcase Plugin?
                                        </a>
                                    </h4>
                                </div>
                                <div id="ques_one" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                            helvetica, craft beer labore.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" id="head_two">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ques_two">
                                            Build your App Landing page in Seconds?
                                        </a>
                                    </h4>
                                </div>
                                <div id="ques_two" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                            helvetica, craft beer labore
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" id="head_three">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ques_three">
                                            Start your own App Store with One click?
                                        </a>
                                    </h4>
                                </div>
                                <div id="ques_three" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                            helvetica, craft beer labore
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" id="head_four">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ques_four">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life?
                                        </a>
                                    </h4>
                                </div>
                                <div id="ques_four" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                            helvetica, craft beer labore
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" id="head_fiv">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ques_five">
                                            Trending Flat and Responsive Design?
                                        </a>
                                    </h4>
                                </div>
                                <div id="ques_five" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                            helvetica, craft beer labore
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Frequently Ask End -->
                </div>
            </div>
        </div>
        <!-- Who we are End -->
<hr>
        <!-- Pricing Start -->
        <div id="pricing" class="even_div">
        	<div class="container">
            	<h2>Select your Plan</h2>
                <!-- Package Wrapp Start -->
                <div class="package_wrapp">
                    <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn animated">
                        <div class="single_package">
                            <h4>$9<span>/Month</span></h4>
                            <div class="package_headwrap">
                                <h3>Basic</h3>
                            </div>
                            <div class="package_dis">
                                <ul class="package_list">
                                    <li>
                                    	We've used an awesome font library which boasts a whopping 750+ icons.
                                    </li>
                                    <li>
                                        All about the small details here &amp; aim to be pixel perfect in every way.
                                    </li>
                                    <li>
                                        To be the best, Stay ahead of the game with an awesome design.
                                    </li>
                                </ul>
                                <a href="#" class="btn btn_price">Buy it now</a>
                            </div>
                        </div>
                	</div>
                     <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn animated">
                        <div class="single_package active">
                            <h4>$49<span>/Month</span></h4>
                            <div class="package_headwrap">
                                <h3>Premium</h3>
                            </div>
                            <div class="package_dis">
                                <ul class="package_list">
                                    <li>
                                        We've used an awesome font library which boasts a whopping 750+ icons.
                                    </li>
                                    <li>
                                        All about the small details here &amp; aim to be pixel perfect in every way.
                                    </li>
                                    <li>
                                        To be the best, Stay ahead of the game with an awesome design.
                                    </li>
                                    <li>
                                        Designed in the almighty bootstrap grid for ease of use
                                    </li>
                                    <li>
                                        Fully layered and labeled PSD's for easy customisation.
                                    </li>
                                </ul>
                                <a href="#" class="btn btn_price">Buy it now</a>
                            </div>
                        </div>
                   	</div>
                    <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn animated">
                        <div class="single_package">
                            <h4>$199<span>/Month</span></h4>
                            <div class="package_headwrap">
                                <h3>Professional</h3>
                            </div>
                            <div class="package_dis">
                                <ul class="package_list">
                                    <li>
                                        We've used an awesome font library which boasts a whopping 750+ icons.
                                    </li>
                                    <li>
                                        All about the small details here &amp; aim to be pixel perfect in every way.
                                    </li>
                                    <li>
                                        To be the best, Stay ahead of the game with an awesome design.
                                    </li>
                                    <li>
                                        Designed in the almighty bootstrap grid for ease of use
                                    </li>
                                </ul>
                                <a href="#" class="btn btn_price">Buy it now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Package Wrapp End -->
            </div>
        </div>
        <!-- Pricing End -->

        <!-- Recent Post Start -->
        <!--<div id="blog">
        	<div class="container">
            	<h2>From Our Blog</h2>

                <!-- Recent Post Wrapp Start -->
                <!--<div class="blog_wrapp">
                    <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn animated">
                    	<div class="blog_block">
                        	<div class="blog_img">
                            	<div>
                                    <img class="img-responsive" alt="Blog image" src="images/blog_img.png" />
                                    <div class="blog_img_hoverlay"></div>
                                    <div class="blog_img_hoverlay_icon">
                                    	<div class="sco_icon"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-pinterest-p"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog_info">
                            	<h3>A Beautiful Image Post</h3>
                                <span>12 th Dec 2014</span>
                            	<p>Praesent augue arcu, ornare ut epsume dolart tincidunt eu, mattis a libero. Praesent augue arcu, ornare ut epsume dolart tincidunt eu, mattis a libero.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn animated">
                    	<div class="blog_block">
                        	<div class="blog_img">
                            	<div>
                                    <img class="img-responsive" alt="Blog image" src="images/blog_img.png" />
                                    <div class="blog_img_hoverlay"></div>
                                    <div class="blog_img_hoverlay_icon">
                                    	<div class="sco_icon"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-pinterest-p"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog_info">
                            	<h3>Updating Everyone Today</h3>
                                <span>15 th Dec 2014</span>
                            	<p>Praesent augue arcu, ornare ut epsume dolart tincidunt eu, mattis a libero. Praesent augue arcu, ornare ut epsume dolart tincidunt eu, mattis a libero.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn animated">
                    	<div class="blog_block">
                        	<div class="blog_img">
                            	<div>
                                    <img class="img-responsive" alt="Blog image" src="images/blog_img.png" />
                                    <div class="blog_img_hoverlay"></div>
                                    <div class="blog_img_hoverlay_icon">
                                    	<div class="sco_icon"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-pinterest-p"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog_info">
                            	<h3>We Created Art Today</h3>
                                <span>17 th Dec 2014</span>
                            	<p>Praesent augue arcu, ornare ut epsume dolart tincidunt eu, mattis a libero. Praesent augue arcu, ornare ut epsume dolart tincidunt eu, mattis a libero.</p>
                            </div>
                        </div>
                    </div>
               	</div>
                <!-- Recent Post Wrapp End -->
            </div>
        </div>
        <!-- Recent Post End -->

        <!-- Testimonials Start -->
        <!--<div id="testimonials" class="even_div">
        	<div class="container">
                <!-- Testimonials Slider Start -->
                <!--<div class="testimonials_slider_wrapp">
                    <div id="testimonials_slider" class="hidden-buttons">
                        <div class="slider-items slider-width-col6">
                            <div class="item">
                                <div class="col-item">
                                    <div class="item-inner">
                                        <div class="product-wrapper">
                                            <div class="thumb-wrapper">
                                            	<div class="message">
                                                    <h3>
                                                        Just a note on how wonderful this theme is! If you are thinking of purchasing, I'd say do it! The flexibility is awesome and the possibilities are endless.
                                                    </h3>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="client_wrap">
                                                	<div class="client_image">
                                                        <img class="img-responsive" src="images/client_pic.png" alt="John Doe" />
                                                    </div>
                                                    <div class="client_info">
                                                    	<div class="client_name">John Doe,</div>
                                                        <div class="client_desi">CEO,</div>
                                                        <div class="client_company_info">Big Company</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-item">
                                    <div class="item-inner">
                                        <div class="product-wrapper">
                                            <div class="thumb-wrapper">
                                            	<div class="message">
                                                    <h3>
                                                        Startup is the first-ever truly team-friendly media CMS, Collaborating together on this is efficient, Which is a connect between the customer and the retailer.
                                                    </h3>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="client_wrap">
                                                	<div class="client_image">
                                                        <img class="img-responsive" src="images/client_pic.png" alt="Julia Farnando" />
                                                    </div>
                                                    <div class="client_info">
                                                    	<div class="client_name">Julia Farnando,</div>
                                                        <div class="client_desi">CEO,</div>
                                                        <div class="client_company_info">Deccan Herald</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-item">
                                    <div class="item-inner">
                                        <div class="product-wrapper">
                                            <div class="thumb-wrapper">
                                            	<div class="message">
                                                    <h3>
                                                        Just a note on how wonderful this theme is! If you are thinking of purchasing, I'd say do it! The flexibility is awesome and the possibilities are endless.
                                                    </h3>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="client_wrap">
                                                	<div class="client_image">
                                                        <img class="img-responsive" src="images/client_pic.png" alt="Kelly Thomsan" />
                                                    </div>
                                                    <div class="client_info">
                                                    	<div class="client_name">Kelly Thomsan,</div>
                                                        <div class="client_desi">CEO,</div>
                                                        <div class="client_company_info">Times Of India</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonials Slider End -->
            </div>
        </div>
        <!-- Testimonials End -->

        <!-- Footer Start -->
        <div id="footer">
        	<div class="container">
            	<div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 coppyright"> &copy; 2016. All Rights Reserved. Designed by <a href="http://www.pixxett.com/" target="_blank">Pixxett.com</a> </div>
                <div class="social col-lg-6 col-md-6 col-sm-4 col-xs-4">
                    <ul class="social_links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->

    <!-- Offcanvas Menu Start -->
    <div class="offcanvas_menu">
        <a href="#" class="close_offcanvas"><i class="fa fa-remove"></i></a>
        <div class="offcanvas_inner">
            <div class="sp_module">
                <h3 class="sp_module_title">Startup</h3>
                <div class="sp_module_content">
                    <ul class="nav menu">
                        <li><a class="h_menu" href="#overview">Overview</a></li>
                        <li><a class="h_menu" href="#screenshot">Screenshot</a></li>
                        <li><a class="h_menu" href="#features">Features</a></li>
                        <li><a class="h_menu" href="#whoweare">Who we are</a></li>
                        <li><a class="h_menu" href="#pricing">Pricing</a></li>
                        <li><a class="h_menu" href="#rpost">Recent Post</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas_overlay"></div>
	<script type="text/javascript">
        startFlowSwitcher();
    </script>